body {
    background-color: #F3E9DE;
    color: #256993;
}
aside {
    background-color: #FAF4EC;
}
header {
    display:flex;
    flex-direction: column;
    text-align: center;
}
footer {
    display:grid;
    text-align: center;
}
nav {
    margin-left:auto;
}
nav > a {
    margin: 5px;
}
img {
    max-width: 5%;
    height: auto;
}