body {
    background-color: #F3E9DE;
    color: #256993;
}
aside {
    background-color: #FAF4EC;
}
header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.title {
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
}
.links {
    margin-left:auto;
}
nav > a {
    margin: 5px;
}
